@{
    ViewBag.Title = "Details";
}
<div class="mainWrapper">
    <div class="divTable txtTwoCol">
        <div class="divCell divName alignVMiddle"><input type="button" value="Back"></div>
        <div class="divCell divContent alignVMiddle alignRight"><span>Date: 17 Jul 2015</span></div>
    </div>
    <div class="fieldGap"></div>

    <div class="emailHeadingWrap">
        <div><label>From: James (sender@email.com)</label></div>
        <div><label>To: Ken (receiver@email.com)</label></div>
        <div><label>Cc: cc1@email.com; cc2@email.com</label></div>
        <div><label>Subject: Enquiry on matter</label></div>
    </div>
    <br />
    <div class="emailContent">
        WHATEVER IN THE EMAIL CONTENT GOES HERE (EG: TEXT/IMAGES/ATTACHED FILES etc.)<br>
        Disclaimers need to be different depending on the person's job function. Below we list some samples that address the specific legal issues facing different departments within a company.
        Financial department
        The financial department may face more confidentiality issues than other departments:
        This message contains confidential information and is intended only for [recipient name]. If you are not the named addressee you should not disseminate, distribute or copy this e-mail. Please notify the sender immediately if you have received this e-mail by mistake and delete this e-mail from your system. Finally, the recipient should check this email and any attachments for the presence of viruses. The company accepts no liability for any damage caused by any virus transmitted by this email. [Date]
        Company X, Suite# 1, Street, City, Country, www.company.com
        Sales department
        The sales department disclaimer must cover the validity of quotes and disclaim responsibility for any action taken in reliance upon information given.
        All quotes from [Company] are valid for 30 days following the date of email transmission. Our company accepts no liability for the content of this email, or for the consequences of any actions taken on the basis of the information provided, unless that information is subsequently confirmed in writing. Any views or opinions presented in this email are solely those of the author and do not necessarily represent those of the company. Finally, the recipient should check this email and any attachments for the presence of viruses. The company accepts no liability for any damage caused by any virus transmitted by this email.
        [Date] Company X, Suite# 1, Street, City, Country, www.company.com
        IT department
        The IT department or helpdesk must disclaim against responsibility for the effects of their advice. For instance if they were to advise a user to change something on their computer and the user does not implement this correctly causing system down time, the company does not want to be held liable for this:
        Our company accepts no liability for the content of this email, or for the consequences of any actions taken on the basis of the information provided, unless that information is subsequently confirmed in writing. Any views or opinions presented in this email are solely those of the author and do not necessarily represent those of the company. WARNING: Computer viruses can be transmitted via email. The recipient should check this email and any attachments for the presence of viruses. The company accepts no liability for any damage caused by any virus transmitted by this email.
        [Date] Company X, Suite# 1, Street, City, Country, www.company.com
        Secretarial department
        You could include a statement for secretaries that they are acting on behalf of their manager and that the manager must confirm any agreements in emails in writing.
        This message is sent of behalf of [Manager] and is intended for [Recipient]. If you are not the intended recipient you are notified that disclosing, copying, distributing or taking any action in reliance on the contents of this information is strictly prohibited. [Company] accepts no liability for the content of this email, or for the consequences of any actions taken on the basis of the information provided, unless that information is subsequently confirmed in writing by [Manager].
        [Date] Company X, Suite# 1, Street, City, Country, www.company.com
        Board of Directors
        Directors will mainly face confidentiality issues:
        This message contains confidential information and is intended for [Recipient]. If you are not the intended recipient you are notified that disclosing, copying, distributing or taking any action in reliance on the contents of this information is strictly prohibited. E-mail transmission cannot be guaranteed to be secure or error-free as information could be intercepted, corrupted, lost, destroyed, arrive late or incomplete, or contain viruses. The sender therefore does not accept liability for any errors or omissions in the contents of this message, which arise as a result of e-mail transmission. If verification is required please request a hard-copy version.
        [Date] Company X, Suite# 1, Street, City, Country, www.company.com
        Internal disclaimer
        An internal disclaimer is mainly important in view of libelous, indecent, and racist content in emails. If employees use the internal email system to spread pornographic pictures or offensive jokes, the Company will be held liable. Therefore the internal disclaimer should disclaim against this. Confidentiality is also an issue for internal mail.
        * This message is intended only for [recipient name]. If you are not the intended recipient you are notified that disclosing, copying, distributing or taking any action in reliance on the contents of this information is strictly prohibited.
        * Employees of [Company] are expressly required not to make defamatory statements and not to infringe or authorize any infringement of copyright or any other legal right by email communications. Any such communication is contrary to company policy and outside the scope of the employment of the individual concerned. The company will not accept any liability in respect of such communication, and the employee responsible will be personally liable for any damages or other liability arising. Employees who receive such an email must notify their supervisor immediately.
        [Date], Company X, Suite# 1, Street, City, Country.
    </div>
</div>